*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(135deg,gray,darkslategray,rgb(0, 48, 14));
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas{
    outline: 2px solid rgb(0, 174, 14);

}